<a href="https://colab.research.google.com/github/echen413/CSE6040/blob/main/Module%200/Session%207/s7nb2_sorting_SP25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sorting

## Introduction

### Tap tap tap.................  You can be guaranteed that you will be required to do sorting on all of the exams in the course.

It's common for programmer to want to sort groups of data. For example, we might want to sort a list of employees by their start date. Python provides a built in function for doing this sort of work: `sorted()` (see the [documentation](https://docs.python.org/3/library/functions.html#sorted) for more details).

- Python has an entire tutorial dedicated to [Sorting](https://docs.python.org/3/howto/sorting.html).
  - Many of the examples, and even some of the text in this notebook, are taken directly from this tutorial.

## Simple Sorting

A simple ascending sort is very easy: just call the `sorted()` function. It returns a new sorted list:

In [5]:
my_tuple = (5, 2, 3, 1, 4)
sorted(my_tuple)

[1, 2, 3, 4, 5]

- You can pass any iterable to `sorted()`.
- Notice that `sorted()` returns a `list`.
  - If you need a different type, you'll need to cast it to the new type.

If we want, we can use the `reverse` keyword to return the items in reverse order:

In [6]:
my_tuple = (5, 2, 3, 1, 4)
sorted(my_tuple, reverse=True)

[5, 4, 3, 2, 1]

## Key Functions

By default, Python will simply use the `<` operator to compare values. So, when determining order of integers, `sorted()` will evaluate the expression `a < b` for various values and use the results to order the items.

However, we can call a function on each item *before* this comparison is made. This gives us a lot of power to arbitrarily order our iterables.

**For example, we can sort a list of tuples by checking the 3rd element in the list.**

In [48]:
# Define the list of tuples
# each tuple has name, grade, credits earned
student_tuples = [
    ('Zac', 'C', 8),
    ('john', 'A', 11),
    ('jane', 'B', 12),
    ('dave', 'B', 10),
]

# Method 1: Create the function traditionally --------------------------
def sorting_func(tup):
    return tup[2]

# Return the sorted tuples
sorted(student_tuples, key=sorting_func)

[('Zac', 'C', 8), ('dave', 'B', 10), ('john', 'A', 11), ('jane', 'B', 12)]

### Tap tap tap, you want to know this one very well!!

In [45]:
# Method 2: Use a lambda function --------------------------------------

# sort in ascending order
print(sorted(student_tuples, key=lambda tup: tup[2]))

# sort in descending order
print(sorted(student_tuples, key=lambda tup: -tup[2]))

#(or reverse=True)
print(sorted(student_tuples, key=lambda tup: tup[2],reverse=True))

[('Zac', 'C', 8), ('dave', 'B', 10), ('john', 'A', 11), ('jane', 'B', 12)]
[('jane', 'B', 12), ('john', 'A', 11), ('dave', 'B', 10), ('Zac', 'C', 8)]
[('jane', 'B', 12), ('john', 'A', 11), ('dave', 'B', 10), ('Zac', 'C', 8)]

In [42]:
s="ajb"
sorted(s)

['a', 'b', 'j']

In [43]:
# sort by name, in descending order

# this one throws an error. Why?
# sorted(student_tuples, key=lambda tup: -tup[0])

# this one is correct
sorted(student_tuples, key=lambda tup: tup[0], reverse=True)

[('john', 'A', 11), ('jane', 'B', 12), ('dave', 'B', 10), ('Zac', 'C', 8)]

#### If you are asked sort strings in descending order, you must use the `reverse=True` parameter.

### What if we want to sort by a specific index, and break any ties using a different index?

### Tap tap tap........................

#### For example, sort the `student_tuples` list first by grade ascending and break any ties by credits earned in descending order.

In [26]:
sorted(student_tuples, key=lambda tup: (tup[1], -tup[2]))

[('john', 'A', 11), ('jane', 'B', 12), ('dave', 'B', 10)]

**As above Note that the `-` syntax only works for numeric (integer and float) variables.**

If we were to try to do a descending sort with `-` using one of the string variables, it would throw an error.

In [ ]:
# uncomment to see the error
# sorted(student_tuples, key=lambda tup: (tup[1], -tup[0]))

In [ ]:
# you have to use the "reverse" keyword, but it applies to all the sorting
# sorted(student_tuples, key=lambda tup: (tup[1], tup[0]), reverse=True)

### On an exam, you will not be asked to sort by multiple elements, in which the element in descending order is not a numeric variable.

In [93]:
# Adding

d={}
for size in range(1,10):#from 1...to 9
    for i in range(0,20,size):
        if i not in d.keys():
            d[i]=0
        d[i]+=1
print(f'd={d}')
sorted(d.items(), key=lambda x:(-x[1],x[0]))[:5]
#sort by value(frequency) then key(size)

d={0: 9, 1: 1, 2: 2, 3: 2, 4: 3, 5: 2, 6: 4, 7: 2, 8: 4, 9: 3, 10: 3, 11: 1, 12: 5, 13: 1, 14: 3, 15: 3, 16: 4, 17: 1, 18: 5, 19: 1}

[(0, 9), (12, 5), (18, 5), (6, 4), (8, 4)]

## A more complex example, using `sorted()`

### Recall this complex data structure, from the nested data notebook.

In [101]:
my_family = [
  { "family_name": "Tunnicliffe",
    "num_people": 4,
    "local": True,
    "city": "Bethpage, NY",
    "date_established": 2014,
    "names": ["Diane", "Steve", "Dylan", "Landon"],
    "number_of_children": 2,
    "children": [
      {
        "name": "Dylan",
        "age": 2,
        "favorite_color": "black",
        "nickname": "Dillybeans",
        "loves": "Super Mario",
      },
      {
        "name": "Landon",
        "age": 2,
        "favorite_color": "blue",
        "nickname": "Landybean",
        "loves": "trucks",
      }
    ]
  },
  { "family_name": "Agulnick",
    "num_people": 5,
    "local": False,
    "city": "Newton, MA",
    "date_established": 1987,
    "names": ["Ellen", "Mark", "Diane", "Joshua", "Allison"],
    "number_of_children": 3,
    "children": [
      {
        "name": "Diane",
        "age": 31,
        "favorite_color": "pink",
        "nickname": "Dini",
        "loves": "unicorns",
      },
      {
        "name": "Joshua",
        "age": 28,
        "favorite_color": "red",
        "nickname": "Joshie",
        "loves": "trains",
      },
      {
        "name": "Allison",
        "age": 26,
        "favorite_color": "purple",
        "nickname": "Alli",
        "loves": "candy",
      }
    ]
  }
]

As before, we can go to Python Tutor to visualize the data.

https://pythontutor.com/python-debugger.html#mode=edit

### Find the Oldest and Youngest child

#### This question uses sorting and a lambda function, in conjunction with other programming logic.

#### The code here represents what might be required to solve a (simple or easy) 2-point question on an exam.

In [125]:
def old_young(my_family):
    list=[]
    for fam in my_family:
        for child in fam["children"]:
            print(child["name"],child["age"])
            list.append(child)
    list=(sorted(list,key=lambda child:(child["age"],child["name"])))
    print([(i["name"],i["age"]) for i in list])

    return list[-1]["name"],list[0]["name"]
old_young(my_family)

Dylan 2
Landon 2
Diane 31
Joshua 28
Allison 26
[('Dylan', 2), ('Landon', 2), ('Allison', 26), ('Joshua', 28), ('Diane', 31)]

('Diane', 'Dylan')

In [105]:
[{'name': 'Dylan', 'age': 2, 'favorite_color': 'black', 'nickname': 'Dillybeans', 'loves': 'Super Mario'}, {'name': 'Landon', 'age': 2, 'favorite_color': 'blue', 'nickname': 'Landybean', 'loves': 'trucks'}, {'name': 'Allison', 'age': 26, 'favorite_color': 'purple', 'nickname': 'Alli', 'loves': 'candy'}, {'name': 'Joshua', 'age': 28, 'favorite_color': 'red', 'nickname': 'Joshie', 'loves': 'trains'}, {'name': 'Diane', 'age': 31, 'favorite_color': 'pink', 'nickname': 'Dini', 'loves': 'unicorns'}]

[{'name': 'Dylan',
  'age': 2,
  'favorite_color': 'black',
  'nickname': 'Dillybeans',
  'loves': 'Super Mario'},
 {'name': 'Landon',
  'age': 2,
  'favorite_color': 'blue',
  'nickname': 'Landybean',
  'loves': 'trucks'},
 {'name': 'Allison',
  'age': 26,
  'favorite_color': 'purple',
  'nickname': 'Alli',
  'loves': 'candy'},
 {'name': 'Joshua',
  'age': 28,
  'favorite_color': 'red',
  'nickname': 'Joshie',
  'loves': 'trains'},
 {'name': 'Diane',
  'age': 31,
  'favorite_color': 'pink',
  'nickname': 'Dini',
  'loves': 'unicorns'}]

### Requirement:

Return a tuple with two string elements.

The first element is the name of the oldest child.

The second element is the name of the youngest child.

In [ ]:
'''
define the variables required, set to empty values
    oldest child
    youngest child
    list of children

loop over the input list
    for each child
        append the child dictionary to the list

sort the list by child age, from oldest to youngest

the first child in the list will be the oldest, so assign their name to the oldest child variable

the last child in the list will be the youngest, so assign their name the youngest child varilable

create and return the tuple

'''

In [118]:
def oldest_youngest(my_family):

    #### YOUR CODE HERE
    oldest_child = None
    youngest_child = None
    children = []

    for unit in my_family:
        for child in unit['children']:
            children.append(child)

    print(children)

    sorted_children = (sorted(children, key = lambda child: child['age'], reverse = True))

    oldest_child = sorted_children[0]['name']
    youngest_child = sorted_children[-1]['name']

    return (oldest_child, youngest_child)

    pass   # placeholder

In [117]:
# will return error until function above is written
(oldest,youngest) = oldest_youngest(my_family)

print(f"The oldest child is {oldest}. The youngest child is {youngest}.")

[{'name': 'Diane', 'age': 31, 'favorite_color': 'pink', 'nickname': 'Dini', 'loves': 'unicorns'}, {'name': 'Joshua', 'age': 28, 'favorite_color': 'red', 'nickname': 'Joshie', 'loves': 'trains'}, {'name': 'Allison', 'age': 26, 'favorite_color': 'purple', 'nickname': 'Alli', 'loves': 'candy'}, {'name': 'Dylan', 'age': 2, 'favorite_color': 'black', 'nickname': 'Dillybeans', 'loves': 'Super Mario'}, {'name': 'Landon', 'age': 2, 'favorite_color': 'blue', 'nickname': 'Landybean', 'loves': 'trucks'}]
The oldest child is Diane. The youngest child is Landon.

## Final Thoughts: Sorting in Place

Using `sorted()` **does not change the original iterable.** It simply returns a new list.

However, Python lists have a method, `list.sort()`, which **does** change the original list. This means you will be modifing your original data!

- **Do not use this unless you know *for a fact* that you will not need the original list.**

In [107]:
first_list = [2, 7, 3, 9, 10, 1]
second_list = first_list.copy()

# Are these the *same* list, or are they different?
print("First list ID:", id(first_list))
print("Second list ID:", id(second_list))

if id(first_list) == id(second_list):
    print("Wait, these are the same list!")
else:
    print("OK, modifying the first list won't impact the second list.")

First list ID: 139873249804032
Second list ID: 139873249850944
OK, modifying the first list won't impact the second list.

In [108]:
import copy
first_list = [2, 7, 3, 9, 10, 1]
second_list = copy.deepcopy(first_list)

# Are these the *same* list, or are they different?
print("First list ID:", id(first_list))
print("Second list ID:", id(second_list))

if id(first_list) == id(second_list):
    print("Wait, these are the same list!")
else:
    print("OK, modifying the first list won't impact the second list.")

First list ID: 139873256149696
Second list ID: 139872424490432
OK, modifying the first list won't impact the second list.

In [111]:
first_list_sorted = sorted(first_list)
print("What does our sorted first_list look like?", first_list_sorted)
print("What does our original first_list look like?", first_list)

What does our sorted first_list look like? None
What does our original first_list look like? [1, 2, 3, 7, 9, 10]

In [110]:
second_list_output = second_list.sort()
print("What does the return value of the .sort() method look like?", second_list_output)
print("What does our original second_list look like?", second_list)

What does the return value of the .sort() method look like? None
What does our original second_list look like? [1, 2, 3, 7, 9, 10]

### Tap tap tap, this is important!!

We can see from the output above that the `.sort()` method will change the original list. Keep this in mind if you need to sort something.

For this reason, we generally recommend to use the `sorted()` function and assign the result to a **NEW VARIABLE**.

**This is one of the scenarios that we typically see in exams, when the test case variables return a failure because the student has modified an input variable.**

**The student has modified an input variable using `sort()`, when they should have created a new variable using `sorted()`.**

## What are your questions on sorting?